#example {
  padding: 20px;
  background-color: rgb(56, 56, 56);
  border-radius: 20px;
  color: white;
  display: grid;
  gap: 15px;
  margin-bottom: 30px;
}

input {
  padding: 5px 15px;
  outline: none;
  border-radius: 10px;
  border: none;
  font-size: 16px;
}

button {
  padding: 10px;
  border-radius: 10px;
}

button:hover {
  background-color: rgb(255, 223, 95);
}
